
@{
    ViewData["Title"] = "empView_Request_Status";
}
    <!DOCTYPE html>
<cshtml>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>View Requistion History
</head>

<div style="padding-left: 50px;">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
   
    <div class="container">
        
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li><a href="#">Emlpoyee</a></li>
                <li><a href="#">Department</a></li>
                <li><a href="#">Clerk</a></li>
            </ul>
    </div>

        <table style="width:80%">
            <tr>
                <th>Request</th>
                <th>Status</th>
                <th>   </th>

            </tr>
            <tbody>

                <tr>
                    <td align=center>DDS/111/99</td>
                    <td align=center>Approved</td>

                </tr>
                <tr>
                    <td align=center>DDS/111/100</td>
                    <td align=center>Rejected</td>

                </tr>
                <tr>
                    <td align=center>DDS/111/101</td>
                    <td align=center>Awaiting Collection</td>

                </tr>
                <tr>
                    <td align=center>xxxxx</td>
                    <td align=center>xxxxxxx</td>

                </tr>
                <tr>
                    <td align=center>PS01</td>
                    <td align=center>Pen Poilt Blue</td>

                </tr>
                <tr>
                    <td align=center>xxxxxxx</td>
                    <td align=center>xxxxxxx</td>

                </tr>
                <tr>
                    <td align=center>xxxxxxx</td>
                    <td align=center>xxxxxxx</td>

                </tr>
                <tr>
                    <td align=center>xxxxxxx</td>
                    <td align=center>xxxxxxx</td>

                </tr>
            </tbody>
        </table>
    
</div>
      
</cshtml>

